body {
	text-align: center;
	background-color: #DB4437;
	font-family: Menlo;
	color: white;
}

#title {
	margin: 80px auto 10px auto;
	font-weight: 200;
	font-size: 70px;
	border:  1px solid white;
	max-width: 900px;
	padding: 10px;
}

hr {
	width: 60%;
}

#timer {
	font-size: 50px;
	font-weight: 200;
	margin: 75px 0px 25px 0px;
}

button {
	height: 28px;
	width: 100px;
	background-color: rgba(255,201,196, 0.3);
	color: white;
	border-width: 3px;
	border-color: white;
	font-size: 15px;
}

input {
	height: 15px;
}

#mainBtn {
	display: none;
}
#pending {
	display: block;
}

button:hover {
	cursor: pointer;	
}

button:focus {
	outline: none;
}
table {
	margin: 50px auto 100px auto;
	width: 85%;
	font-size: 12px;
	background-color: rgba(181,115,109, 0.3);

}

td, th {
	padding: 10px 0px;
	min-width: 150px;
}

table, th, td {
	border:  1px solid white;
	border-collapse: collapse;
}


