body {
	text-align: center;
	background-color: #DB4437;
	font-family: Menlo;
	color: white;
}
/* title element*/
#title {
	margin: 80px auto 10px auto;
	font-weight: 200;
	font-size: 70px;
	border:  1px solid white;
	max-width: 900px;
	padding: 10px;
}

/* stopwatch elapsedTimer element*/
#timer {
	font-size: 50px;
	font-weight: 200;
	margin: 75px 0px 25px 0px;
}
/* ---------- button elements -----------*/
button {
	height: 28px;
	width: 100px;
	background-color: rgba(255,201,196, 0.3);
	color: white;
	border:  3px solid white;
	font-size: 15px;
}

#mainBtn {
	display: none;
}

#pending {
	display: block;
}

#gps {
	display: inline-block;
}

button:hover {
	cursor: pointer;	
}

button:focus {
	outline: none;
}


/* ---------- table data elements -----------*/
table {
	margin: 20px auto 100px auto;
	width: 85%;
	font-size: 12px;
	background-color: rgba(181,115,109, 0.3);
}

td, th {
	padding: 10px 0px;
	min-width: 150px;
}

table, th, td {
	border:  1px solid white;
	border-collapse: collapse;
}


